.DS_Store

partner-central-sample-codes/dotnet_preview/aws-pc-selling-sdk-assemblies/
partner-central-sample-codes/dotnet_preview/aws-sdk-assemblies/
partner-central-sample-codes/dotnet_preview/src/*/bin
partner-central-sample-codes/partner-central-sample-codes/dotnet_preview/nuget/
partner-central-sample-codes/dotnet_preview/src/*/obj
partner-central-sample-codes/dotnet_preview/_sdk-versions.json

partner-central-sample-codes/python_preview/.idea/
partner-central-sample-codes/python_preview/pcapi/
partner-central-sample-codes/python_preview/stubs/
ppartner-central-sample-codes/ython_preview/documentation/
partner-central-sample-codes/python_preview/pc-selling-boto3-preview/

partner-central-sample-codes/go_preview/partnercentral-selling-demo
gpartner-central-sample-codes/o_preview/aws-sdk-go-v2/
partner-central-sample-codes/go_preview/aws-sdk-go/
partner-central-sample-codes/go_preview/smithy-go/

documentation.zip
dotnet_preview.zip
python_preview.zip

partner-central-sample-codes/java_preview/target/
partner-central-sample-codes/java_preview/bin/
partner-central-sample-codes/java_preview/libs/

*.iml
.idea/
*.zip
APIReferenceGuide.pdf
out/

*.pyc
build/
