.DS_Store

partner-central-api-sample-codes/dotnet_preview/aws-pc-selling-sdk-assemblies/
partner-central-api-sample-codes/dotnet_preview/aws-sdk-assemblies/
partner-central-api-sample-codes/dotnet_preview/src/*/bin
partner-central-api-sample-codes/partner-central-api-sample-codes/dotnet_preview/nuget/
partner-central-api-sample-codes/dotnet_preview/src/*/obj
partner-central-api-sample-codes/dotnet_preview/_sdk-versions.json

partner-central-api-sample-codes/python_preview/.idea/
partner-central-api-sample-codes/python_preview/pcapi/
partner-central-api-sample-codes/python_preview/stubs/
ppartner-central-api-sample-codes/ython_preview/documentation/
partner-central-api-sample-codes/python_preview/pc-selling-boto3-preview/

partner-central-api-sample-codes/go_preview/partnercentral-selling-demo
partner-central-api-sample-codes/o_preview/aws-sdk-go-v2/
partner-central-api-sample-codes/go_preview/aws-sdk-go/
partner-central-api-sample-codes/go_preview/smithy-go/

documentation.zip
dotnet_preview.zip
python_preview.zip

partner-central-api-sample-codes/java_preview/target/
partner-central-api-sample-codes/java_preview/bin/
partner-central-api-sample-codes/java_preview/libs/

*.iml
.idea/
*.zip
APIReferenceGuide.pdf
out/
node_modules/
opportunityManagement/
*.pyc
build/

# Logs
logs/
*.log

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/

# IDE files
.idea/
.vscode/
*.swp
*.swo

# Local configuration
local_config.json

